
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    .landing_page{
        min-height: 50vh;
    }
    .logo{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .logo h1{
        padding: 5px;
        font-size: 20px;
    }
    .logo p{
        padding: 10px;
        font-size: 16px;
    }
    .mouse{
        margin: 10px;
        padding: 10px;
    }
    .about_us h1{
        font-size: 20px;
    }
    .about_us p{
        font-size: 16px;
    }
    .services{
        height: 60vh;
    }
    .services h1{
        font-size: 20px;
    }
    .services p{
        font-size: 14px;
    }

    .row{
        display: flex;
        flex-direction: column;
    }
    .what_we_do h1{
        padding: 10px;
        margin: 5px;
        font-size: 20px;
    }

    .what_we_do p{
        margin: 10px;
        font-size: 16px;
        width: 100%;
       
    }
        
}